#presentacion{

    background-image: url(fotos/food.jpg);
    background-repeat: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 625px;
    
    
}


#presen{
    padding-top:200px;
    
    
}

#titulo{
    font-size: 120px;
    font-family: 'Yellowtail', cursive;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    
    
    
    
    
}

body{
    background-color: rgba(70, 69, 68, 0.452);
   
}

#uno{
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
    color: rgb(10, 10, 10);
    height: 625px;
    background-color: white ;
    
    
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 200px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

.galeria{
    margin-left: 30px;
}


#destacado{
    font-size: 25px;
    margin-top: 300px;
    
}


.mapouter{
    position:relative;
    text-align:right;
    height:625px;
    width:960px;

}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:100%;
    width:100%;

}


.telefono{
   font-size: 200px; 
   color: rgb(241, 237, 236);
   margin-top: 30px;
}

.numero{
    font-size: 90px;
    color: rgb(245, 241, 240);
    padding: 50px;
    font-family: 'Yellowtail', cursive;
}


.row{

    padding-top:  150px;
}

.descr{
    margin-top: 40px;
}

.mapouter{
    margin-left: 200px;
}


.contacto{
    background-image: url(fotos/pizza-4968645.jpg);
    background-repeat: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
/* .swal-overlay {
    background-image: url(fotos/food.jpg);
    background-repeat: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */

@media screen and (max-width:400px){
    #presentacion {
    height: 300px;
    width: 400px;
    background-repeat: none;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-attachment: scroll;
    }
 
}

@media screen and (max-width:400px){
    #titulo{

        font-size: 50px;

    }

}

@media screen and (max-width:400px){
    #presen{

        padding-top: 90px;
        height: 100%
    }

}


@media screen and (max-width:400px){
    #uno{
        margin-top: 5px;
        margin-bottom: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 10px;
        height: 400px;
        
        
        
    }
}






@media screen and (max-width:400px){
    div.gallery {
        margin: 1px;
        border: 1px solid #ccc;
        float: left;
        width: 100px;
}
}
@media screen and (max-width:400px){  
    div.gallery img {
    width: 100%;
    height: 70px;
}
    div.galeria{
        margin-left: 1px;
    }
}  
 

@media screen and (max-width:400px){  
    #destacado{
        font-size: 10px;
        margin-top: 170px;
        
    }
}

@media screen and (max-width:400px){  
    #gmap_canvas{
        
        width: 100%;
        height: 100%;
        margin-right: 0px;
    }
}


@media screen and (max-width:400px){  
    .mapouter{
        height: 500px;
        width: 500px;
        padding: 0px;
        margin: auto;
       
        
    }
}


@media screen and (max-width:400px){  
    .gmap_canvas{
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width:400px){
    .numero{
        font-size: 25px;
        color: rgb(245, 241, 240);
        padding: 5px;
        font-family: 'Yellowtail', cursive;
    }

    .telefono{
        font-size: 65px; 
        color: rgb(241, 237, 236);
        margin-top: 30px;
    }
@media screen and (max-width:400px){
    #uno {

        width: 400px;
       
    }
}
    .contacto{
        width: 400px;
    }

}




@media screen and (max-width: 900px){
    #presentacion {
        height: 400px;
        width: 640px;
        background-repeat: none;
        background-repeat: no-repeat;
        background-size: 640px 400px;
        background-attachment: scroll;
    }
    #titulo {

        font-size: 70px;
    
    }
    #presen{

        padding-top: 120px;
        height: 100%
    }

    #uno{
        margin-top: 5px;
        margin-bottom: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        font-family: 'Noto Sans JP', sans-serif;
        font-size: 20px;
        width: 550px;
        height: 400px;
        
        

        
        
    }
    div.gallery {
        margin: 1px;
        border: 1px solid #ccc;
        float: left;
        width: 100px;
    }
    div.gallery img {
        width: 100%;
        height: 70px;
    }
    div.galeria{
        margin-left: 1px;
    }
    #destacado{
        font-size: 10px;
        margin-top: 170px;
        
    }
    #gmap_canvas{
        
        max-width: 500px;
        height: 350px;
        
    }
    .numero{
        font-size: 25px;
        color: rgb(245, 241, 240);
        padding: 5px;
        font-family: 'Yellowtail', cursive;
    }

    .telefono{
        font-size: 85px; 
        color: rgb(241, 237, 236);
        margin-top: 30px;
    }

    .mapouter{
        margin-left: 5px;
    }

    .contacto{
        width: 650px;
    }
    

}